<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>ありがとうございます！</string>
		<key>shortcut</key>
		<string>あり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ありがとうございました！</string>
		<key>shortcut</key>
		<string>あり</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>妹川</string>
		<key>shortcut</key>
		<string>いもかわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>教えてください！</string>
		<key>shortcut</key>
		<string>おし</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>お疲れ様です！</string>
		<key>shortcut</key>
		<string>おつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>お疲れ様でした！</string>
		<key>shortcut</key>
		<string>おつ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>お願いします！</string>
		<key>shortcut</key>
		<string>おね</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>確認させてください！</string>
		<key>shortcut</key>
		<string>かくにん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ご確認ありがとうございます！</string>
		<key>shortcut</key>
		<string>ごかくにん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ご確認ありがとうございました！</string>
		<key>shortcut</key>
		<string>ごかくにん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ご確認よろしくお願いします！</string>
		<key>shortcut</key>
		<string>ごかくにん</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▽</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▼</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>△</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>▲</string>
		<key>shortcut</key>
		<string>さ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>匂坂</string>
		<key>shortcut</key>
		<string>さぎさか</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>■</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◆</string>
		<key>shortcut</key>
		<string>し</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>承知いたしました！</string>
		<key>shortcut</key>
		<string>しょうち</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>百成</string>
		<key>shortcut</key>
		<string>どうみき</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>新澤</string>
		<key>shortcut</key>
		<string>にいさわ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>×</string>
		<key>shortcut</key>
		<string>ば</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>犯収法</string>
		<key>shortcut</key>
		<string>はんしゅうほう</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☆</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>★</string>
		<key>shortcut</key>
		<string>ほ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>◯</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>●</string>
		<key>shortcut</key>
		<string>ま</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>メリデメ</string>
		<key>shortcut</key>
		<string>めりでめ</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>よろしくお願いします！</string>
		<key>shortcut</key>
		<string>よろ</string>
	</dict>
</array>
</plist>
